<!--views/site/login.ejs-->
<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<h1>Site login</h1>
<form method="post" action="/login">
      <input type="text" name="user[email]" placeholder="User email"><br />
      <input type="text" name="user[password]" placeholder="User password"><br />
      <button>Submit</button>
</body>
</html>