<!--views/site/results.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Comparison Results</h1>
<% comparisonList.forEach(function(comparison) { %>
<% if (comparison.value !== null) { %>
<div>
  <div>
    <h1>
    <%= comparison.date  %>
    </h1>
    <p>
    <%= comparison.value  %>
    </p>
  </div>
</div>
<% } %>
<% }) %>
</body>
</html>
