<!--views/site/results.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>HOME</h1>
<% comparisonHome.forEach(function(comparison) { %>
<% if (comparison.value !== null) { %>
<div>
  <div>
    <h1>
    <%= comparison.date  %>
    </h1>
    <p>
    <%= comparison.value  %>
    </p>
  </div>
</div>
<% } %>
<% }) %>
<h1>TARGET</h1>
<% comparisonTarget.forEach(function(comparison) { %>
<% if (comparison.value !== null) { %>
<div>
  <div>
    <h1>
    <%= comparison.date  %>
    </h1>
    <p>
    <%= comparison.value  %>
    </p>
  </div>
</div>
<% } %>
<% }) %>
</body>
</html>
