<!--views/site/signup.ejs-->
<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<h1>Site signup</h1>
    <form method="post" action="/">
      <input type="text" name="user[name]" placeholder="User name"><br />
      <input type="text" name="user[password]" placeholder="User password"><br />
      <button>Save </button>
    </form>
</body>
</html>
